body {
    background-color: #EAEFE8;
}
h2 {
    margin-left: 47px;
}
div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
div * {
    align-self: center;
}
div > .cards {
    height: 80vh;
    flex-direction: row;
}
div > .cards > .card {
    width: 95px;
    padding: 5px;
    margin-left: calc(70px / 2);
    margin-right: calc(70px / 2);
    margin-bottom: 15px;
    background-color: white;
    border: solid rgba(0,0,0,0.5);
    border-radius: 5px;
    align-self: center;
    text-align: center;
}
div > .cards > .card img {
    display: block;
    margin: auto;
    width: 95%;
}
div > .cards > .card #og {
    text-decoration: line-through;
    font-size: large;
    width: fit-content;
}
div > .cards > .card #new {
    font-size: larger;
    width: fit-content;
}
div #main_price {
    width: fit-content;
}
div #main_price *:first {
    font-size: large;
}
div #main_price *:nth-child(2) {
    font-size: xx-large;
}
div #main_price *:last-child {
    font-size: x-large;
    text-decoration: line-through;
}
div div {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}
div div button {
    background-color: #D81E05;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}
