<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <style>
h2{margin-left:47px}div{display:flex;flex-direction:row;width:100%}

    </style>
</head>
<body>
    <h2>Here's a Special Offer Just for you!</h2>

    <div>
        
        <div>
            <a class="card">
                <label>name 1</label>
                <img>
                <div>OG price</div>
                <div>New price</div>
            </a>
            <a class="card">
                <label>name 1</label>
                <img>
                <div>OG price</div>
                <div>New price</div>
            </a>
            <a class="card">
                <label>name 1</label>
                <img>
                <div>OG price</div>
                <div>New price</div>
            </a>
        </div>

        <div>
            <div>For you</div>
            <div>Price</div>
            <div>old price</div>
        </div>

        <div>
            <button>Add to Cart</button>
            <div>Offer expires</div>
        </div>
    </div>
    {# a comment #}
</body>
</html>